
.sidebar {
  flex: 1;
  border-right: 1px solid #e6e3e3;
  min-height: 100vh;
  background-color: #fbfcfe;
  display: flex;
  flex-direction: column;

  .top {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-family: "Inter", serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-size: 20px;
      color: #1b1617;
    }
  }

  hr {
    height: 0;
    border: none;
    border-top: 0.5px solid #e0e0e0;
    margin: 10px 0;
  }

  .center {
    ul {
      list-style: none;
      padding: 0 15px;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: #dde7ee;
        }

        .icon {
          font-family: "Inter", serif;
          font-optical-sizing: auto;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          color: #747378;
          margin-right: 10px;
        }

        span {
          font-family: "Inter", serif;
          font-optical-sizing: auto;
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          color: #1b1617;
        }
      }
    }
  }

  .bottom {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .colorOption {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: 1px solid #69686B;
      cursor: pointer;
      margin: 0 8px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }
}

